<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>

    <%- include('modules/linksHead') %>

    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body>
    <%- include('modules/header.ejs') %>

    <main class="addgame">
      <h2 class="text-center py-5">Add a Game to a Player</h2>

      <div class="d-flex justify-content-center">
        <form
          class="w-25 bg-secondary border border-dark-subtle border-4 rounded-bottom-5 p-4 h-50"
          action="/games/addNewGameSelect"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">player name</label>
            <select
              class="form-select"
              aria-label="Default select example"
              name="player_id"
            >
              <option selected disabled value="">Choose a player</option>
              <% players.forEach((elem)=>{ %>

              <option value="<%= elem.player_id  %>">
                <%= `${elem.name} ${elem.last_name}` %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label for="title" class="form-label">Game name</label>
            <input
              type="text"
              class="form-control"
              id="title"
              aria-describedby="gameHelp"
              name="title"
            />
          </div>

          <div class="mb-3">
            <label for="review" class="form-label">Review</label>
            <input type="text" class="form-control" id="review" name="review" />
          </div>

          <div class="mb-3">
            <label for="starrating" class="form-label">Starrating</label>
            <input
              type="number"
              class="form-control"
              id="starrating"
              name="starrating"
            />
          </div>

          <div class="mb-3">
            <label for="platform" class="form-label">Platform</label>
            <input
              type="text"
              class="form-control"
              id="platform"
              name="platform"
            />
          </div>

          <div class="mb-3">
            <label for="year_release" class="form-label">Release year</label>
            <input
              type="datetime"
              class="form-control"
              id="year_release"
              name="year_release"
            />
          </div>

          <div class="mb-3">
            <label for="game_img" class="form-label">Add image</label>
            <input
              hidden
              type="file"
              class="form-control"
              id="game_img"
              name="img"
            />
          </div>

          <p class="msg-allert"><%= message %></p>

          <div class="d-flex flex-wrap gap-3 justify-content-center">
            <button type="submit" class="btn btn-secondary join1">
              Accept
            </button>
            <button
              type="button"
              class="btn btn-secondary join1"
              onclick="history.go(-1)"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </main>

    <%- include("modules/footer") %>
  </body>
</html>
